In [17]:
import pandas as pd
data_movie = pd.read_csv('ratings.csv')

def movie_rating(param):
    if param <= 2:
        return 'low'
    elif param <= 4:
        return 'middle'
    elif param <= 5:
        return 'high'
    
data_movie['class'] = data_movie['rating'].apply(movie_rating)

data_movie

        userId  movieId  rating   timestamp   class
0            1       31     2.5  1260759144  middle
1            1     1029     3.0  1260759179  middle
2            1     1061     3.0  1260759182  middle
3            1     1129     2.0  1260759185     low
4            1     1172     4.0  1260759205  middle
...        ...      ...     ...         ...     ...
99999      671     6268     2.5  1065579370  middle
100000     671     6269     4.0  1065149201  middle
100001     671     6365     4.0  1070940363  middle
100002     671     6385     2.5  1070979663  middle
100003     671     6565     3.5  1074784724  middle

[100004 rows x 5 columns]

In [46]:
import pandas as pd
data = pd.read_csv('keywords.csv')
geo_data = {'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'],'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
def geo(words):
    for word in words.split():
        for i in geo_data['Центр']:
            if word == i:
                return 'Центр'
        for i in geo_data['Северо-Запад']:
            if word == i:
                return 'Северо-Запад'
        for i in geo_data['Дальний Восток']:
            if word == i:
                return 'Дальний Восток'
            else:
                return 'undefined'

data['region'] = data['keyword'].apply(geo)
# data.tail(50)
data.groupby('region').count()

                keyword  shows
region
undefined         99959  99959
Дальний Восток        2      2
Северо-Запад          5      5
Центр                34     34